<nav class="uk-light uk-background-secondary uk-margin" uk-navbar>
  <div class="nav-overlay uk-navbar-left">
    <a class="uk-navbar-item uk-logo">Base De Datos 2</a>
    <ul class="uk-navbar-nav">
    	<li><a>Inicio</a></li>
    </ul>
  </div>
  <div class="nav-overlay uk-navbar-right">
		<div>
			<a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
		</div>
  </div>
	<div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
   	<div class="uk-navbar-item uk-width-expand">
       <form class="uk-search uk-search-navbar uk-width-1-1" action="javascript:void(0)" novalidate>
         <div class="" uk-margin uk-grid>
       	   <input name="query" class="uk-search-input uk-width-1-5" type="number" placeholder="K" [(ngModel)]="k" autofocus>
           <div class="uk-width-1-4" uk-form-custom="target: > * > span:first-child">
             <select [(ngModel)]="search_type" name="type">
               <option value="">Seleccione tipo de Busqueda</option>
               <option value="0">RTree</option>
               <option value="1">Secuencial Euclediana</option>
               <option value="2">Secuencial Manhatan</option>
             </select>
             <button class="uk-button uk-button-default" type="button" tabindex="-1">
               <span></span>
               <span uk-icon="icon: chevron-down"></span>
             </button>
           </div>
           <div class="uk-width-1-4" uk-form-custom="target: true">
             <input type="file" (change)="fileChange($event.target.files)">
             <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
             <button class="uk-button uk-button-default">Submit</button>
           </div>
           <button class="uk-button uk-button-default uk-width-1-5" (click)="upload()">Buscar</button>
         </div>
       </form>
   	</div>
   	<a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
	</div>
</nav>

<app-page></app-page>
